{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

    <a class="btn btn-lg btn-primary" href="{{ path('api_doc') }}">API</a>
    <a class="btn btn-lg btn-primary" href="{{ path('ca_objects_index') }}">CA Objects</a>
    <a class="btn btn-lg btn-primary" href="{{ path('data_profiles') }}">Data Profiles</a>


{% endblock %}
