{% extends 'base.html.twig' %}

{% block title %}New CaObjects{% endblock %}

{% block body %}
    <h1>Create new CaObjects</h1>

    {{ include('ca_objects/_form.html.twig') }}

    <a href="{{ path('ca_objects_index') }}">back to list</a>
{% endblock %}
