{% extends 'base.html.twig' %}

{% block title %}CA Data Profiles{% endblock %}

{% block body %}

    <table class="table js-datatable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for filename, profile in profiles %}
            <tr>
                <td>
                    <a href="{{ path('data_profile_detail', {filename: filename}) }}">
                        {{ profile.profileName }}
                    </a>
                </td>
                <td>{{ is_iterable(profile.profileDescription) ? '~' : profile.profileDescription }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
